<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'ID: ' + ${patient.id}" />
    <p th:text="'ПІБ: ' + ${patient.name}" />
    <p th:text="'Номер телефону: ' + ${patient.phone}" />
    <p th:text="'Адреса: ' + ${patient.address}" />
    <div th:each="disease: ${patient.diseases}">
        <p th:text="'Назва хвороби: ' + ${disease.title}"></p>
        <p th:text="'Опис хвороби: ' + ${disease.description}"></p>
    </div>
    <a th:href="@{/p/{id}/add-disease(id=${patient.id})}">Додати хворобу</a>
    <p/>
    <a href="/patients">До списку</a>
</body>
</html>